/* Write your code here. */

/* Write your code here. */
.item-container {
  padding: 5px;
  border-color: #d7dae6;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 50vw;
}

.question {
  font-family: Roboto;
  font-size: 20px;
  color: #52606d;
}

.status-logo {
  height: 30px;
  background-size: cover;
  width: 30px;
}

.item-container-2 {
  padding: 5px;
  border-color: #d7dae6;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50vw;
}

.top-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-line {
  border: 2px solid #52606d;
}
